// style/sass/layouts/_container.scss

.main {
  background-color: $color-white;
  padding: 4em;
  display: flex;
  justify-content: center;
  margin: 0 10%;
  &__container {
    color: $color-black;
    &__article {
      margin-bottom: 50px;
      &__title {
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 1.5em;
        text-align: center;
      }
    }
  }
}
