.footer {
  background-color: $color-primary;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__icons-container {
    display: flex;
    justify-content: space-around;

    &__icon {
      font-size: $size-footer-icon;
      color: $color-tertiary;
      transition: color 250ms;
      &:hover {
        color: $color-quaternary;
      }
    }
  }
  &__text {
    color: $color-white;
    text-align: center;
  }
}
