// style/sass/layouts/_header.scss

.header {
  background-color: $color-primary;
  padding: 10px 5px;
  display: flex;
  align-items: center;

  &__title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 6;
    &__title {
      color: $color-white;
      flex-wrap: wrap;
      font-size: $size-h1;
      font-style: italic !important;
      font-weight: 200 !important;
    }
  }
}
