// style/sass/layouts/_nav.scss

.navigation {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    font-size: $size-nav-link;
    background-color: $color-primary;

    &__item {
      width: $width-nav-link;
      text-align: center;
      border-top: 1px solid $color-white;

      &__link {
        font-weight: 400 !important;

        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $color-white;
        &--active {
          color: $color-secondary;
          display: inline-block;
          width: 100%;
          color: $color-secondary;
          background-color: $color-tertiary;
          text-decoration: none;
        }
      }
    }
  }
}
