// style/sass/layouts/_nav.scss

.navigation {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    font-size: $size-nav-link;

    &__item {
      width: $width-nav-link;
      text-align: center;
      border-top: 1px solid $color-white;

      &__link {
        font-weight: 400 !important;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $color-white;
        background-color: $color-primary;
        position: relative;
        z-index: 1;

        &:hover {
          &::after {
            opacity: 1;
          }
        }
        &--active {
          color: $color-secondary;
          display: inline-block;
          width: 100%;
          color: $color-secondary;
          background-color: $color-tertiary;
          text-decoration: none;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: radial-gradient(
            circle,
            lighten($color-primary, 0) 0%,
            darken($color-primary, 10) 100%
          );
          opacity: 0;
          z-index: -1;
          transition: opacity 250ms;
        }
      }
    }
  }
}
