.default-btn__opacity {
  display: flex;
  font-style: italic !important;
  color: $color-white;
  font-family: "sf_burlington_scriptregular", sans-serif;
  flex-wrap: wrap;

  &__btn {
    border-radius: 12px;
    background-color: $color-primary;
    font-size: 48px;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover {
      border-radius: 12px;
      &::after {
        border-radius: 12px;
        opacity: 1;
      }
    }
    &::after {
      border-radius: 12px;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: radial-gradient(
        circle,
        lighten($color-primary, 5) 0%,
        darken($color-primary, 10) 100%
      );
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
    }
  }
}
