$color-primary: #ab5c89;
$color-secondary: #93739b;
$color-tertiary: #e9ea37;
$color-quaternary: #cc9c5c;
$color-font: #495057;
$color-bg-body: #333333;
$color-bg-content: #c4c4c4;
$color-white: #ffffff;
$color-black: #333333;

$size-border: 0.3em;
$size-logo: 200px;
$size-h1: 2.8em;
$size-nav-link: 1.9em;

$width-nav-link: 33.33%;

$main-border: solid $color-quaternary $size-border;
