$color-primary: #86377b;
$color-secondary: #93739b;
$color-tertiary: #e9ea37;
$color-quaternary: #cc9c5c;
$color-font: #495057;
$color-bg-body: #333333;
$color-bg-content: #c4c4c4;
$color-white: #ffffff;
$color-black: #333333;

$size-border: 0.3em;
$size-h1: 3.8em;
$size-h2: 2.9em;
$size-nav-link: 2.9em;
$size-footer-icon: 1.8em;

$width-nav-link: 33.33%;

$main-border: solid $color-quaternary $size-border;

$animation-progress-bar-duration: 1250ms;
$animation-progress-bar-delay: 150ms;
