.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__label {
    display: flex;
    align-items: center;
    margin: 50px;
    &__input {
      margin-left: 50px;
    }
  }
}
