body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-family: "sf_burlington_scriptregular", "airstreamregular", "Montserrat",
    sans-serif;
}

nav {
  font-family: "sf_burlington_scriptregular", "airstreamregular", sans-serif;
}

.main__container__article__title {
  font-family: "sf_burlington_scriptregular", "airstreamregular", "Montserrat",
    sans-serif;
}

@font-face {
  font-family: "airstreamregular";
  src: url("../../font/Airstream-webfont.eot");
  src: url("../../font/Airstream-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../font/Airstream-webfont.woff") format("woff"),
    url("../../font/Airstream-webfont.ttf") format("truetype"),
    url("../../font/Airstream-webfont.svg#airstreamregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_burlington_scriptregular";
  src: url("../../font/SF_Burlington_Script-webfont.eot");
  src: url("../../font/SF_Burlington_Script-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../font/SF_Burlington_Script-webfont.woff") format("woff"),
    url("../../font/SF_Burlington_Script-webfont.ttf") format("truetype"),
    url("../../font/SF_Burlington_Script-webfont.svg#sf_burlington_scriptregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
